/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/Exercico6/nbproject/private/
/Exercico6/build/
/Calculadora/nbproject/private/
/Calculadora/build/
/JogoDoGenio/nbproject/private/
/JogoDoGenio/build/
/Equacao/nbproject/private/
/Exercico13/nbproject/private/
/Exercico13/build/
/Exercicio14/nbproject/private/
/Exercicio14/build/
/Exercicio15/nbproject/private/
/Exercicio15/build/
/Exercicio15-2/nbproject/private/
/Exercicio15-1/nbproject/private/
/Exercicio15-1/build/